
DefaultOrganization: "myort"
DefaultAccount: "myaccount"
Cluster: "clustername"
NoLDAPUsersList:
  - "root"
  - "supper"
NoLDAPAccountsList:
  - "myaccount"
NoSlurmUsersList:
  - "admin"
  - "sysadmin"
NoSlurmAccountsList:
  - "None"
ExtraLDAPUserAssociations:
   - user: "myuser"
     accounts: 
        - "myaccount"
   - user: "user2"
     accounts: 
        - "myaccount"
AdminUsersList:
   - root
   - mysupperuser

SlurmAPIURL: "http://slurmrest:6820"
SlurmJWTToken: "dsfadfsadsffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffff"
LdapServer : 'ldap://localhost'
LdapBaseDN : 'DC=mydom,DC=local'
LoggingLevel: "INFO" 